.app-header {
  background-color: var(--clr1);
  color: var(--clr2bg-light);

  @media (max-width: 720px) {
    color: var(--clr2bg-light);
  }
}

.header-container {
  display: flex;
  align-items: center;
  nav a {
    gap: 10px;
  }
}

.header-container h1 {
  flex-grow: 1;
}

a {
  &.active {
    color: rgb(241, 212, 241);
    font-weight: 600;
    text-decoration: underline;
  }

  &:not(:last-child) {
    margin-inline-end: 0.5em;
  }
}
