.book-reviews {
  display: grid;
  gap: 1em;

  max-width: 50%;
  padding: 10px;
  /* background-color: var(--clr1); */
  margin-inline: auto;
  margin-block-start: 1em;

  input {
    grid-column: 2;
  }
  .review-list {
    display: flex;
    flex-direction: column;

    gap: 1em;
  }
  .review-list li {
    display: flex;
    flex-direction: column;

    gap: 10px;
    padding: 10px;
    background-color: var(--clr1);
    border: 1px solid black;
  }
}
